.product-list  {
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
}

.product {
  max-width: 200px;
  margin: 0 15px;
  border: 1px solid rgb(19, 18, 18);
  background-color: rgb(175, 174, 174);
  border-radius: 5px;
  &__price {
    margin-bottom: 20px;
  }
  &__name {
    text-transform: uppercase;
    margin: 20px 0;
  }
  &__description {
    margin-bottom: 20px;
  }
  &__img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
  }
  &__button {
    margin-bottom: 20px;
  }
}