.nav {
  display: flex;
  &__link {
    margin-right: 20px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(187, 161, 161);
    color: black;
    border-radius: 5px;
  }
}

@media screen and (max-width: 550px) {
  .nav {
    justify-content: space-between;
    &__link {
      margin-right: 0;
    }
  }
}
